__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
build/
dist/
*.egg-info/

examples/output/*
!examples/output/.gitkeep
examples/images/*
!examples/images/.gitkeep

docs/assets/*
!docs/assets/.gitkeep

*.mid
*.log
